<!doctype html>
<html>

<head>
  <title>battlekitten | your secret page</title>
  <meta name="Description" content="Battlekitten.com allows you to create secret, encrypted pages using markdown.">
  <meta name="Keywords" content="encrypted pages, markdown">

  <meta property="og:title" content="BattleKitten | your secret page">
  <meta property="og:site_name" content="BattleKitten">
  <meta property="og:url" content="battlekitten.com">
  <meta property="og:description" content="Battlekitten.com allows you to create secret, encrypted pages using markdown.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://battlekitten.com/img/battle-kitten.jpg">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@battlekittencom">
  <meta name="twitter:title" content="Battlekitten | your secret page">
  <meta name="twitter:description" content="Battlekitten.com allows you to create secret, encrypted pages using markdown.">

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

  <link rel="stylesheet" href="../css/vendor/docs.min.css">

  <link rel="stylesheet" href="../css/base.css">
</head>

<body onload='battle.app.init();'>

  <div class="container">
    <div class="row row-centered">
      <div class="col-md-10 col-sm-10 col-xs-12 col-centered">
        <a href="/" class="btn btn-default btn-md text-center">Home</a>
        <a href="/pages/add" class="btn btn-default btn-md text-center">Add</a>
        <a href="/pages/search" class="btn btn-default btn-md text-center">Search</a>
        <hr>
        <div class="entry input-group">


          <input class="form-control" id="key" name="key" type="text" placeholder="Passphrase or key">
          <span class="input-group-btn">
              <button id="decryptbtn" name="decryptbtn" class="btn btn-primary btn-add" type="button"><span class="fa fa-unlock"></span> Decrypt page</button>
          </span>
        </div>


        <div class="form-group ">
          <input class="form-control" id="datafromserver" name="datafromserver" type="hidden" value="<%= page_data.encryptedtext %>" />
          <input class="form-control" id="encrypted_token" name="encrypted_token" type="hidden" value="<%= page_data.encrypted_token %>" />
        </div>

        <% if(page_data.creator_id !== "") {%>
          <div class="bs-callout bs-callout-info" id="creator-id-text-callout">
            <p><strong>This will only be shown once for this page:</strong></p>
            <p>Your creator ID: <%= page_data.creator_id %></p>
            <p>Page URL: https://battlekitten.com/page/<%= page_data.shorturl %></p>
            <p>Page go-live: <%= page_data.golive %></p>
            <p>Page expiry: <%= page_data.expireat %></p>
          </div>
          <% }%>


            <% if(page_data.has_cleartext) {%>
              <div class="bs-callout bs-callout-info" id="cleartext-text-callout">
                <p>
                  <%= page_data.cleartext %>
                </p>
              </div>
              <% }%>


                <% if(page_data.has_encryptedtext) {%>
                  <div class="bs-callout" id="encrypted-text-callout">
                    <h4>Encrypted text</h4>
                    <hr>
                    <div id="pagetext">
                      Not decrypted yet.
                    </div>
                  </div>
                  <% }%>

      </div>
    </div>
  </div>



  <script src="../components/jquery/dist/jquery.js"></script>
  <script src="../components/crypto-js/crypto-js.js"></script>
  <script src="../components/markdown/lib/markdown.js"></script>
  <script src="../js/crypto.js"></script>
  <script src="../js/handlers.js"></script>
  <script src="../js/models.js"></script>
  <script src="../js/app.js"></script>




</body>

</html>